@import "./reset/basic-reset";

$grey: #f7f7f7;
$black: #1a1a1a;
$dark: #3e3e3e;

body {
	background: $grey;
	font-size: 62.5%;
}

.container{
	width: 70%;
	margin: auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

img {
	margin-bottom: 3rem;
	padding-left: 6rem;
}
h1,h2,h3,h4{
	font-family: 'Lora', serif;

	margin-bottom: 2rem;
}
h1{
	font-size: 2.8rem;
	border-bottom: 5px solid #4464f0;
	width: -moz-fit-content;
	width: fit-content;
}

 p, li {
	font-family: 'Montserrat', Helvectica, Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 1.5rem;
	color: $black;
	font-size: 1.4rem;
}

.articlegroup{
	font-size: 1.2rem;
	padding: 1rem 0;

	list-style: none;
	li{
      border-bottom: 1px dashed $dark;
	  margin-bottom: 2rem;
	}
}

.mainnav{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	.primary{
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: 1rem;
		li{
			margin-left: 1rem;
		}
	}
}
