doctype html
html
  head
    title Knowledgebase
    
    link(rel='stylesheet' href='/dist/styles.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Lora')
  body
        block content
        div
        footer
            p
