doctype html
html
  head
    title Knowledgebase
    link(rel='stylesheet' href='/dist/styles.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora|Montserrat')
  body
    div.navcontainer 
      nav.mainnav
        a.navbar-brand(href='#') Project name
        ul.primary
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact            
        
    block content
      footer
        p

      
