extends layout

block content
  h1 register
  form(method='POST', action='/users/register')
  
    #form-group
      label username:
      input.form-control(name='username', type='text')
    #form-group
      label password:
      input.form-control(name='password', type='text')               
    br
    input.btn.btn-primary(type='submit',value='Submit')
